#canvas {
    width: 30em;
    height: 30em;
    border: .3em solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -15em;
    margin-left: -15em;
    align-content: flex-start;
}

#generator {
    padding: .5em;
    position: fixed;
    top: 90%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.pixel {
    width: 2.8em;
    height: 2.8em;
    border: .1em solid red;
    display: flex;
}

.hovered {
    background-color: aqua;
}