#canvas {
    width: 30em;
    height: 30em;
    border: .3em solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position:fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: flex-start;
    overflow: hidden;
}

#generator {
    padding: .5em;
    position: fixed;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pixelSlider {
    padding: .5em;
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.pixel {
    box-sizing: content-box;
    width: 7.5em;
    height: 7.5em;
    display: flex;
}

.hovered {
    background-color: aqua;
}